body {
	background-color:#e4e4e4;
}

h1 {
	padding:2px;
	margin:40px auto 10px;
	text-align:center;
	color:#5c5858;
	font-family:"Arial Black", Gadget, sans-serif;
}
form {
	width:100$;
	max-width:400px;
	margin: 10%;
}
label {
	display:block;
	font-size:1.1em;
	margin-left:4px;
	margin-bottom:2px;
	font-family:"Lucida Console", Monaco, monospace;	
	color:#6c6c6c	
}

[type=text]::selection, [type=email]::selection {
	background-color:#fff27d;
}

[type=text], [type=email], [type=file], .datalist, [type=date], [type=datetime-local] {
	width:98%;
	font-size:1.1em;
	border:2px solid #717171;
	border-radius:5px;
	display:block;
	padding:5px;
	margin-bottom:10px;
}

[type=color] {
	width:80px;
	border:2px solid #717171;
	border-radius:8px;
	display:block;
	padding:1px;
	margin-bottom:10px;
	height:30px;
}


[type=submit] {
	font-size:1.1em;
	margin:5px;
	border:8px solid #1da1ff;
	background-color:#1da1ff;
	font-family:"Arial Black", Gadget, sans-serif;	
	opacity:0.6;
	border-radius:10px;
	box-shadow:2px 2px 3px #979090;
}

fieldset {
	padding:8%;
}
legend {
	text-align:center;
	font-family:"Comic Sans MS", cursive, sants-serif;
	font-size:1.2em;
	margin:10px;
}

